inbox/*
!inbox/README.md
import/*
!import/README.md
import-voc/*
sources/
lido-schema/
terminologies/
terminologies.*
node_modules/
wikidata/*.rdf
wikidata/*.nt
collections.json
crm-rdf-ap

.venv
__pycache__
